:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

main {
  background-color: #F5F5F5;
  color: #363652;
  min-width: 800px;
  min-height: 100vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: url(./assets/blob5.png), url(.//assets/blobs.png);
  background-position: top right, left bottom;
  background-repeat: no-repeat, no-repeat;
}

.main--questions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
}


.question {
  width: 100%;
}

.question--title {
  margin-left: 40px;
  margin-bottom: 2rem;
}


.question--answers {
  display: flex;
  justify-content: space-between;
}

.question--answer {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  min-width: 130px;
  height: 2em;
  background-color: white;
  border: 0.5px solid #90a6b3;
  color: #0B2434;
  border-radius: 0.5rem;
  margin: auto 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question--answer,
.check-answers,
.main--score--new-game {
  cursor: pointer;
}

.question--answer:focus,
.check-answers:focus,
.main--score--new-game:focus {
  outline: none;
}

.check-answers:active,
.main--score--new-game:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.selected {
  background: #D6DBF5;
  font-weight: bold;
}

hr {

  width: 90%;
  margin-top: 2rem;

}

.check-answers,
.main--score--new-game {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  height: 2.9rem;
  border-radius: 10px;
  border: none;
  margin-top: 2rem;
  background: #4D5B9E;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main--score{
  display: flex;
  gap: 2rem;
  align-items: baseline;
  justify-content: center;
}

.main--score--score {
  font-weight: 800;
  font-size: 1.6rem;
}

.main--start {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main--start h1 {
  font-size: 4rem;
}

.main--start h3 {
  font-size: 2rem;
}

.main--start p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  width: 200px;
  height: 2.9rem;
  border-radius: 10px;
  border: none;
  margin-top: 2rem;
  background: #4D5B9E;
  cursor: pointer;
}

.main--start p:focus {
  outline: none;
}

.main--start p:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

